// media query
@media screen and (max-width: 1770px) {
  .products {
    background-position: 0 60%;
  }
  .products .altay__text {
    bottom: 29%;
    left: 34%;
    font-size: 213px;
  }
  .products .osmon__bg {
    width: 1770px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1358px) {
  .products .altay__text {
    left: 23%;
  }
}
@media screen and (max-width: 1300px) {
  .successfull__content {
    width: 90%;
  }
  // cookie modal
  .cookies__modal {
    padding: 20px;
    .title__sm {
      font-size: 18px;
    }
    .flex__box {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 1240px) {
  .products .altay__text {
    left: 14%;
    // transform: translateX(-50%);
  }
  .products {
    background-position: 0 62%;
  }
  .products
    .swiper
    .swiper-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet,
  .products
    .swiper
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: #000;
    opacity: 1;
  }
  // call modal
  .call__back-modal {
    .modal__content {
      max-width: 100%;
      height: 100vh;
    }
  }
}
@media screen and (max-width: 1150px) {
  .card__img {
    max-width: 500px;
  }
}
@media screen and (max-width: 1180px) {
  .intro {
    background-size: cover;

    &::before {
      display: none;
    }
  }
  .card__bg-img {
    object-fit: cover;
    top: 0;
  }
  .contact__bg {
    .sub__title {
      br {
        display: none;
      }
    }
  }
  .intro .company__log {
    width: 306.92px;
    height: 265px;
    top: -70px;
    left: 0;
  }
  // intro__bg
  .intro__bg {
    .right__photo {
      width: 630px;
      height: 353.5px;
      right: -80px;
      bottom: 18px;
    }
    .white__light {
      width: 128px;
      height: 128px;
      bottom: 177px;
      right: 318px;
    }
    .yellow__light {
      width: 32px;
      height: 32px;
      bottom: 233px;
      right: 31px;
    }
  }
  .intro__bg .bottom__photo {
    height: 93px;
  }
  .nav {
    display: none;
  }
  .intro .swiper-btns {
    justify-content: end;
    gap: 20px;
    top: 27%;
  }
  .intro .company__name {
    font-size: 12px;
    line-height: 19px;
  }
  .home__page main .intro {
    padding-top: 104px;
  }
  .intro .swiper-scrollbar {
    width: 140px;
    top: 143px;
  }
  .intro .swiper-btns {
    padding: 0 20px 0 0;
  }
  .intro .swiper-btns button {
    width: 16px;
    height: 16px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .sub__title,
  .intro__swiper .sub__title {
    font-size: 20px;
    line-height: 32px;
  }
  .title {
    font-size: 24px;
    line-height: 38.4px;
  }
  .desc,
  .intro__swiper .desc {
    font-size: 18px;
    max-width: 528px;
    line-height: 28px;
  }
  .intro__swiper .title {
    margin-bottom: 10px;
  }
  .intro__swiper .desc {
    margin-bottom: 45px;
  }
  .header__logo {
    width: 92px;
    height: 64px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .intro__swiper .company__name {
    font-size: 12px;
    line-height: 19.2px;
  }
  .intro__swiper .sub__title {
    margin: 59px 0 0 0;
  }

  .intro::after {
    width: 47px;
    top: 127px;
  }
  .home__page .intro {
    padding-top: 88px;
  }
  .intro__swiper .content {
    padding-bottom: 40px;
  }
  .intro .swiper-pagination {
    padding-bottom: 20px;
  }
  // .intro {
  //   background: url(../images/media-intro-bg.png) no-repeat,
  //     linear-gradient(149.04deg, #424242 31.25%, #000000 93.13%);
  //   background-size: 100% 100%;
  // }
  .products {
    padding-top: 20px;
    padding-bottom: 0;
    background-position: 0 67%;
    // background-size: 100% 215px;

    .media__bg {
      position: relative;
    }
  }

  .products .product__name {
    font-size: 20px;
    line-height: 32px;
  }
  .products .product__sub-title {
    font-size: 16px;
    line-height: 25.6px;
  }
  .products .product__price .price.old__price {
    font-size: 16px;
    line-height: 25.6px;
  }
  .products .product__price .price {
    font-size: 14px;
    line-height: 22.4px;
  }
  .products .product__price {
    margin-top: 12px;
  }
  .products .product__img .swiper img {
    width: 100%;
    object-fit: contain;
  }
  .products__list {
    margin: 42px 0 20px 0;
    padding-right: 20px !important;
  }
  .products .title.line::before {
    top: 57px;
  }
  .products .media__bg {
    padding-bottom: 460px;
  }
  .products .altay__text {
    font-size: 106px;
    bottom: 31%;
    left: 37%;
    line-height: normal;
  }
  .products__two .product:hover .btns {
    transform: translateY(0);
  }
  .sub__title {
    padding: 10px 0;
  }
  .products .osmon__bg {
    width: 102%;
    bottom: 16%;
  }
  .products .product__img .add__cart {
    display: none;
  }
  .products__list-item {
    font-size: 18px;
    line-height: 28.8px;
  }
  .products .product__info {
    background: url(../images/img-logo-dark2.png) no-repeat, #000;
    background-size: 240px 207px;
    background-position: 100% 50px;
    padding: 0 20px;
    margin-top: -1px;
  }
  .products .product__info .content {
    max-width: 100%;
    padding-top: 0;
  }
  .about__info.desc {
    max-width: 100% !important;
  }
  .about__info.desc p {
    font-size: 18px;
    line-height: 28.8px;
  }
  .products .product__info .sub__title,
  .about .sub__title {
    margin-bottom: 20px;
  }
  .about {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 60px;
  }
  .about__slide-title {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #cfee13;
  }
  .about__info.desc {
    padding-bottom: 20px;
  }
  .about .slide__content-title {
    font-size: 18px;
    line-height: 28px;
  }
  .about .slide__content-desc {
    font-size: 16px;
    line-height: 25.6px;
  }
  .about .about__swiper .slide__box {
    height: 342px;
  }
  .about .about__swiper .swiper-pagination {
    margin-top: 30px;
  }
  .title__sm,
  .products__two .product .title__sm {
    font-size: 18px;
    line-height: 28.8px;
  }
  .products__two .title {
    padding-bottom: 20px;
  }
  .products__two .product .desc {
    font-size: 16px;
    line-height: 20px;
  }
  .products__two .product__img {
    width: 100%;
    height: 300px;
  }
  .products__two .product:hover .product__img {
    transform: scale(1);
  }
  .products__two .product {
    transition: all 0.3s linear;
    height: 70px;
    padding: 20px 0;
    &::before {
      opacity: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    &:hover {
      height: 300px;
    }
  }
  .blog {
    padding: 40px 0 0 0;
    .swiper-pagination {
      display: flex;
      padding-top: 30px;
      .swiper-pagination-bullet {
        background: #fff;
        opacity: 0.25;
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
  .blog .tab {
    padding: 0 0 20px 0;
  }
  .blog__title {
    -webkit-text-fill-color: #cfee13;
  }
  .tab__item,
  .tab__link {
    font-size: 18px;
    line-height: 28.8px;
    white-space: nowrap;
  }
  .blog__card {
    padding: 20px 20px 48px 20px;
  }
  .blog__date {
    color: #fff;
  }
  .blog__title {
    font-size: 20px;
    line-height: 32px;
  }
  .blog__desc {
    font-size: 18px;
    line-height: 28.8px;
  }
  .events {
    padding: 40px 0;
    // background: url(../images/events-bg.png) no-repeat;
    // background-size: contain;
  }

  .events .events__swiper {
    padding-top: 20px;
  }
  .events .events__swiper .swiper-pagination {
    margin-bottom: 20px;
  }
  .events .events__swiper .slide__top .date,
  .events .events__swiper .slide__top span {
    font-size: 12px;
    text-transform: capitalize;
  }
  .blog__card {
    min-height: 240px;
  }
  .swiper-pagination.two {
    margin-top: 40px;
  }
  .social__media a {
    width: 48px;
    height: 48px;
  }
  .events {
    background-size: 100% 100%;
  }
  .answers .sub__title {
    padding-bottom: 20px;
  }
  .accordion__title {
    font-size: 18px;
    line-height: 28px;
    width: 80%;
    word-wrap: break-word;
  }
  .answers {
    padding-bottom: 20px;
  }
  .about__page .company__log {
    width: 231.64px;
    height: 200px;
    opacity: 0.5;
    top: -8px;
    left: 13px;
  }
  .successfull__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .feedback {
    padding-top: 40px;
    background: url(../images/media-form-bg.png) no-repeat, #000;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, #000000 100%);
      opacity: 0.25;
      z-index: -1;
    }
  }
  .accordion.is__open .accordion__header {
    // padding-bottom: 29px;
  }
  .accordion__content .desc {
    max-width: 100%;
  }
  .feedback .sub__title {
    padding-top: 10px;
  }
  .feedback__form .input__box::before {
    background: linear-gradient(149.04deg, #424242 31.25%, #000000 93.13%);
  }
  .feedback {
    padding-bottom: 40px;
  }
  .question__box-btn {
    width: 48px;
    height: 48px;
  }
  .footer {
    padding: 40px 0 20px 0;
    .title__sm {
      font-size: 24px;
    }
  }
  .footer__title {
    font-size: 18px;
  }
  .footer__logo {
    width: 74px;
    height: 64px;
  }
  .footer .col p {
    font-size: 16px;
  }
  .reviews {
    padding: 40px 0;
  }
  .reviews::before,
  .reviews::after {
    display: none;
  }
  .reviews__swiper .user__name {
    font-size: 20px;
  }
  .reviews__swiper .social__media,
  .tab__content .reviews__swiper .social__media {
    padding: 20px 0;
  }
  .tab__content .reviews__swiper .swiper-pagination {
    margin-top: 20px;
  }
  .tab__content .reviews__swiper .desc {
    font-size: 20px;
    line-height: 32px;
  }
  .tab__content .reviews__swiper .reviews__date img {
    top: 76px;
  }
  .tab__content .reviews__swiper .user__name {
    font-size: 16px;
    line-height: 25.6px;
  }
  .reviews .user__img {
    width: 100px;
    height: 100px;
    border-color: #cee73c;
    border-width: 2px;
    box-shadow: none !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .feedback {
    background-size: 100% 100%;
  }
  .footer::before {
    background: linear-gradient(90deg, #000000 0%, #ffffff 100%);
  }
  .footer__right {
    flex-direction: column;
  }
  .footer .row {
    flex-direction: column;
  }
  .products__list-item {
    white-space: nowrap;
  }
  .products__list {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .media__block-basket {
    display: flex !important;
  }
  .products .product__img .product__discount {
    top: 68px;
  }
  .products__page .products .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
  main {
    padding-top: 104px;
  }
  .products__page .products {
    padding-top: 0;
  }
  .products__page {
    background: #000;
    .products__list {
      margin: 22px 0 20px 0;
    }
    .products .title.line::before {
      top: 48px;
    }
    .products {
      padding-bottom: 60px;
    }
    .products__bg {
      background: #000;
    }
  }
  .show__more-btn {
    display: block;
    margin-top: 20px;
  }
  .card__content {
    flex-direction: column;
  }

  .card__img {
    .swiper {
      background: linear-gradient(
        180deg,
        #eeeeee 0%,
        #ffffff 0%,
        #e6e6e6 0.01%,
        #f2f2f4 100%,
        #ffffff 100%,
        #ffffff 100.01%
      );
    }
    max-width: 100%;
    height: 360px;
    img {
      object-fit: contain;
    }
    .discount {
      font-size: 18px;
      .line {
        width: 15px;
        height: 4px;
      }
    }
  }
  .media__block {
    display: block;
    .flex__box {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
  .card .weight__box {
    padding: 20px 0 0 0;
  }
  .card .go__back {
    margin: 22px 0 20px 0;
  }
  .media__none {
    display: none;
  }
  .products__page .products .product__sub-title {
    font-size: 18px;
  }
  .card__page {
    background-size: 100% 18% !important;
  }
  .card .old__price {
    font-size: 24px;
  }

  .card .title__sm {
    font-size: 24px;
  }
  .tabs {
    padding-bottom: 40px;
  }
  .tab__content .flex__box {
    flex-direction: column;
    .line {
      display: none;
    }
  }
  .tab__content .reviews__swiper {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    flex: 1 1 320px;
  }
  .tab__content .reviews__swiper .desc {
    margin-top: 20px;
  }
  .tab__content .reviews__tab {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tab__items .tab__item h4 {
    font-size: 20px;
  }
  .tab__items {
    gap: 20px;
  }
  .card .weight__box button {
    font-size: 12px;
  }
  .card__img .swiper-pagination {
    left: 20px;
    bottom: 20px;
  }
  .about__page .title.line::before {
    top: 44px;
  }
  .about__page {
    background-size: 1118px 12.5%;
  }
  .about__page .events {
    padding: 40px 0;
  }
  .about__page .sub__title {
    padding: 10px 0 20px 0;
  }
  .payment .title {
    padding-bottom: 22px;
  }
  .payment .title.line::before {
    top: 50px;
  }
  .payment .steps {
    padding-top: 40px;
  }
  .payment .steps .step__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 19.2px;
    opacity: 0.25;
  }
  .payment .steps .step__content {
    opacity: 1;
  }
  .payment .steps .title {
    padding: 20px 0 10px 0;
    font-size: 18px;
  }
  .payment .steps .desc {
    font-size: 16px;
  }
  .points__tab {
    width: auto;
    margin-right: -20px;
  }
  .map {
    height: 400px;
    iframe {
      height: 100%;
    }
  }
  .map .container .map__title {
    font-size: 48px;
    line-height: 40px;
  }
  .delivery__page {
    background-size: 100% 9%;
  }
  .delivery .title {
    padding-bottom: 22px;
  }
  .delivery .title::before {
    bottom: 8px;
  }
  .contact__bg .contact__box {
    flex-direction: column;
  }
  .contact__bg .contact__box .contact__title {
    font-size: 16px;
  }
  .points {
    padding: 40px 0 20px 0;
  }
  .contact__bg {
    background: url(../images/img-contacts-header-bg.png) no-repeat, #000 !important;
    background-size: 100% 412px !important;
    background-position: top center !important;

    &::before {
      content: "";
      position: absolute;
      top: 94px;
      left: 10px;
      width: 231.64px;
      height: 200px;
      background: url(../images/img-logo-dark2.png) no-repeat;
      opacity: 0.25;
      background-size: contain;
    }
  }
  .points__tab .tab__item a {
    font-size: 16px;
    line-height: 25.6px;
  }
  .points__tab {
    gap: 20px;
    padding-top: 20px;
  }
  .footer .container > img {
    width: 74px;
    height: 64px;
  }
  // call modal
  .call__back-modal {
    .modal__content {
      border-radius: 0;
    }
    .modal__header {
      padding-bottom: 0;
    }
    .modal__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 38px;
    }
    .line {
      margin: 10px 0;
    }
    .tab__box {
      padding: 0;
      .tab__header {
        gap: 20px;
        padding-bottom: 20px;
      }
      .tab__el {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
      }
    }
  }
  .about__page .events .mushroom__img {
    width: 372px;
    height: 222.79px;
    bottom: 0;
    top: auto;
  }
  .about__page .events {
    padding: 40px 0 20px 0;
    margin-top: 20px;
  }
  .about__page .events .desc {
    max-width: 500px;
  }
  .about__page {
    .answers {
      padding-top: 40px;
    }
  }
  .about__page .events .bottom__grass {
    height: 130px;
  }
  .about__page {
    .footer::before {
      background: linear-gradient(
        149.04deg,
        #424242 50.25%,
        #000000 93.13%
      ) !important;
    }
  }
  .card__img .card__date {
    font-size: 12px;
    padding: 10px;
  }
  .call__back-modal .modal__content {
    padding: 20px;
  }
  .call__back-modal form p {
    margin-top: -20px;
  }
  .call__back-modal form .yellow__btn {
    position: absolute;
    bottom: 20px;
  }
  .products .swiper-pagination.mt {
    display: flex;
  }
  .about__page .events .bottom__grass {
    width: 1132px;
    height: 130.98px;
  }
  .intro .media__none-btn {
    display: none;
  }
  .intro .media__btn {
    display: block !important;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px !important;
    height: 20px !important;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 !important;
  }
  .tab__content .flex__box .left__box,
  .tab__content .flex__box .right__box {
    max-width: 100%;
    width: 100%;
  }
  .tab__content .flex__box .left__box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tab__content .left__box .desc {
    max-width: 100%;
    font-size: 20px;
    line-height: 32px;
  }
  .tab__content .flex__box .left__box .accordion__arrow {
    display: block;
  }
  .tab__content .flex__box .left__box .desc {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
  }
  .tab__content .reviews__tab {
    display: none;
  }
  .tab__content .reviews__swiper.media__block {
    display: block;
  }
  .modal.favourite__modal .modal__content,
  .modal.product__cart .modal__content,
  .successfull__content {
    max-width: 100%;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: unset;
  }
  .modal.product__cart h5,
  .modal.favourite__modal h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .products .media__bg {
    // background: url(../images/about-bg.png) no-repeat;
    background-size: contain;
    background-position: bottom center;
  }
  .products .media__bg {
    padding-bottom: 210px;
  }
  .products .osmon__bg {
    height: 352px;
    bottom: 30%;
  }
  .products {
    background-position: 0 52%;
  }
  .products .altay__text {
    bottom: 42%;
  }
  .products .media__bg {
    padding-bottom: 355px;
  }
  .products .osmon__bg,
  .products .altay__text {
    // display: none;
  }
  .successfull__content {
    border-radius: 10px 10px 0px 0px;
    height: auto;
    width: 100%;
    left: 0;
    transform: translateX(0);
    bottom: 0;
    padding: 20px;
    height: fit-content;
    .modal__title {
      font-size: 24px;
      line-height: 38px;
    }
    .line {
      margin: 10px 0 20px 0;
    }
    p {
      font-size: 20px;
      line-height: 32px;
    }
  }
  // cookie modal
  .cookies__modal {
    .flex__box {
      p {
        font-size: 16px;
        line-height: 25.6px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .meida__menu .menu__bottom {
    padding-top: 40px;
  }
  .home__page .intro {
    padding-top: 124px;
  }
  .intro__swiper .sub__title {
    margin-top: 39px;
  }
  .intro__swiper .desc {
    margin-bottom: 80px;
  }
  .intro {
    .btns {
      flex-direction: column;
      a {
        width: 90%;
        text-align: center;
      }
    }
  }
  .intro::before,
  .intro::after {
    top: 163px;
  }
  .intro .swiper-btns {
    top: 20%;
    right: 20px;
    padding: 0;
  }
  .products__list {
    gap: 10px;
    margin-right: -20px;
  }
  .products .product__img .add__cart {
    width: 123px;
    height: 123px;
  }
  .products .product__img {
    height: 280px;
  }
  .products .product__info .content {
    padding-top: 0;
  }
  .tab {
    overflow-x: scroll;
    margin-right: -20px;
    padding-right: 20px !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .events {
    padding: 40px 0 20px 0;
    background-size: 128% 100%;
  }
  .events .events__swiper .yellow__btn {
    margin-top: 40px;
  }
  .reviews {
    padding: 40px 0;
  }
  .answers .sub__title {
    padding-top: 10px;
  }
  .reviews__swiper {
    padding-top: 20px;
  }
  .footer__right {
    gap: 20px;
  }
  .products__page .products .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .show__more-btn {
    width: 100%;
  }
  .products__page .products__list {
    margin-right: -20px;
  }
  .products__page .products .title.line::before {
    top: 84px;
  }
  .media__block .flex__box {
    flex-direction: column;
    gap: 0;
  }
  .card__page {
    background-size: 100% 16% !important;
  }
  .card__page.card__three {
    background-size: 110% 19% !important;
  }
  .about__page {
    background-size: 720px 5.5%;
  }
  .about__page .events {
    margin: 40px 0;
    padding: 0;
  }
  .about__page .btns {
    flex-direction: column;
    align-items: start;
  }
  .payment .steps .step::before {
    opacity: 1;
  }
  .payment .steps .title {
    color: #cee73c;
  }
  .points {
    padding: 40px 0 20px 0;
  }
  .points__tab .tab__item a {
    opacity: 1;
  }
  // intro bg
  .intro__bg {
    .right__photo {
      right: -136px;
      bottom: 10px;
    }
    .white__light {
      right: 212px;
    }
    .yellow__light {
      bottom: 312px;
      right: 50px;
    }
  }
  .intro__bg .bottom__photo {
    // object-fit: cover;
    width: 744px;
  }
  .intro__bg .white__light {
    width: 128px;
    height: 128px;
    bottom: 174px;
    left: 20px;
    background: #ffffffbf;
    box-shadow: 0px 0px 40px 0px #ffffffbf;
    opacity: 0.25;
  }
  .home__page main .intro {
    padding-top: 124px;
  }
  .intro .swiper-scrollbar {
    top: 161px;
  }
  .intro .swiper-btns {
    top: 21%;
  }
  .intro__bg .yellow__light {
    width: 32px;
    height: 32px;
    box-shadow: 0px 0px 40px 0px #cfee13bf;
    bottom: 326px;
    right: 23px;
  }
  .about__page .events .mushroom__img {
    width: 240px;
    height: 143.74px;
  }
  .about__page .events .bottom__grass {
    width: 700px;
  }
  .footer .media__flex,
  .footer__bottom {
    gap: 20px;
    flex-direction: column;
    align-items: start;
  }
  .tab__item,
  .tab__link,
  .tab__item-three {
    font-size: 18px;
  }
  .products .media__bg {
    padding-bottom: 241px;
  }
  .products .osmon__bg {
    height: 170.44px;
    bottom: 45%;
  }
  .products {
    background-position: 0 45%;
  }
  .products .altay__text {
    font-size: 60px;
    bottom: 50%;
    left: 29%;
  }
}
@media screen and (max-width: 365px) {
  .intro__bg .right__photo.media__block {
    display: block;
    left: -133px;
    right: auto;
    object-fit: contain;
  }
  .intro__bg .right__photo.media__none {
    display: none;
  }
  .about__page .events .bottom__grass {
    width: 360px;
    height: 63.38px;
  }
}
