body {
  font-family: "Aeroport", sans-serif;
  font-weight: 300;
  color: #fff;
}
.title {
  color: #fff;
  font-family: "TT Autonomous Trl Bold", "Autonomous", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 67.2px;
  text-transform: uppercase;
}
