.basket__page {
  .nav {
    padding-bottom: 149px;
  }
  .basket {
    padding-bottom: 80px;
  }
  .company__logo {
    top: -180px;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .basket__boxes {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    .title__sm {
      margin-bottom: 40px;
    }
  }
  .product__list-box {
    flex: 1 1 800px;
  }
  .price__list {
    flex: 1 1 400px;

    .price__list-box {
      padding: 20px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0%,
        #000000 108.73%
      );
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      background: url(../../images/img-payment-header-bg.png) no-repeat;
      background-size: cover;
      border-radius: 10px;

      .box {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .total,
      .price {
        font-family: "TT Autonomous", "Autonomous", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
      }
      .price {
        color: #cfee13;
      }
    }
    .remove__products-btn {
      font-size: 16px;
      font-weight: 300;
      line-height: 25.6px;
      color: #ea13ee;
    }
    button {
      width: fit-content;
    }
  }
  .products {
    padding: 0;
    background: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .product__img {
      max-width: 150px;
      height: 150px;
      .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .product__card {
      justify-content: start;
      gap: 20px;
      flex-direction: row;
      align-items: stretch;
      position: relative;
      z-index: 1;
      box-shadow: 0px 0px 0px 0px #00000040;
      background: url(../../images/trasparent-category-bg.png) no-repeat;
      background-size: cover;
    }
    .weight__box {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-size: 16px;
        font-weight: 300;
        line-height: 25.6px;
      }
    }
    .product__name {
      font-size: 20px;
      line-height: 32px;
    }
    .price.old__price {
      font-size: 16px;
      line-height: 25.6px;
    }
    .product__price {
      margin-top: 0;
    }
    .top__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
    }
    .w-full {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: unset;
    }
    .counter {
      padding-top: 0;
    }
    .product__info-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .count {
      width: 40px;
      height: 40px;
      .bg__text {
        font-size: 25px;
      }
    }
    .count__number {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .products .product__card:hover .product__img img {
    transform: scale(1);
  }
  .flex__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .total__price {
      font-family: "TT Autonomous", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
    }
  }
  .product__img .product__discount {
    font-size: 12px;
    line-height: 19.2px;
  }
  .product__img .product__discount .line {
    height: 2px;
  }
}
