.empty__basket-page {
  background: #000;
  .empty__basket {
    padding-bottom: 80px;
  }
  .empty__basket-box {
    .title__sm {
      color: #fff;
    }
    .desc {
      padding: 20px 0 40px 0;
    }
    .btns {
      margin-bottom: 80px;
    }
  }
}
