.empty__basket-page {
  background: #000;
  .empty__basket {
    padding-bottom: 80px;
  }
  .empty__basket-box {
    .title__sm {
      color: #fff;
    }
    .desc {
      padding: 20px 0 40px 0;
    }
    .btns {
      margin-top: 0;
    }
  }
  .mushroom__img,
  .bottom__grass {
    display: none;
  }
  .events {
    background: none;
    padding: 0 !important;
    margin: 0;
  }
}
