.nav {
  padding-bottom: 84px;
  &__list {
    display: flex;
    gap: 20px;
  }
  &__link {
    font-size: 20px;
    line-height: 32px;
    transition: color 0.3s linear;
    color: #fff;
    &.active,
    &:hover {
      color: #cfee13;
    }
  }
}
